.App {
  /*text-align: center;*/
  margin: 0 auto;
}

.todo-list {
    background-color: white;
    margin: 70px auto;
    width: 50%;
    /*flexbox with a column direction (elements in this will be displayed in columns
        in their own boxes)
    */
    display: flex;
    flex-direction: column;
    /*this will display everything in a center*/
    /*align-items: center;*/
    /*color of the border*/
    border: 1px solid #efefef;
    box-shadow: 5px 15px 15px rgba(0,0,0,0.15);
    padding: 30px;
}

.todo-item {
    display: flex;
    /*this property aligns the flex box's items when the items don't use all available space on the main axis (horizontally)*/
    /*justify-content: flex-start;
    align-items: center;
    padding: 30px;
    width: 70%;*/
    padding: 30px;
    align-content: center;
    border-bottom: 1px solid #cecece;
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #333333;
}

input[type=checkbox] {
    margin-right: 10px;
    font-size: 30px;
}

input[type=checkbox] {
    outline: 0;
}

.greeting-header {
    text-align: center;
    padding-top: 14%;
    margin: 20%;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: 300;
}

.greeting {
    font-size: 30px;
    font-weight: 400;
}

.bbb {
	margin: auto;
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

.bbb:hover {
    background-color: white;
    color: transparent;
}
.nhel-game {
    float: right;
}