/*box sizing*/
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
}

.App {
    font-family: Quicksand, sans-serif;
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 200px; /* height of your footer */
}

main {
    margin: 50px;
}
p {
    text-align: center;
}
/*-----------------------------------------------------
    To do list box style
-------------------------------------------------------*/

.todo-list {
    background-color: white;
    margin: 70px auto;
    width: 50%;
    /*flexbox with a column direction (elements in this will be displayed in columns in their own boxes)*/
    display: flex;
    flex-direction: column;
    /*color of the border*/
    border: 1px solid #efefef;
    box-shadow: 5px 15px 15px rgba(0,0,0,0.15);
    padding: 30px;
}

.todo-item {
    display: flex;
    padding: 30px;
    align-content: center;
    border-bottom: 1px solid #cecece;
    font-weight: 400;
    font-size: 20px;
    color: #333333;
}

input[type=checkbox] {
    margin-right: 10px;
    font-size: 30px;
}

input[type=checkbox] {
    outline: 0;
}


/*-----------------------------------------------------
    Greeting Style
-------------------------------------------------------*/

.greeting-header {
    text-align: center;
    margin: 10%;
    font-size: 17px;
    font-weight: 300;
}

.greeting {
    font-size: 30px;
    font-weight: 400;
}

/*-----------------------------------------------------
    When hovering over the button, zoom it in
    This section is also used to center button
-------------------------------------------------------*/

.outer-btn-circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting-btn {
    outline: none;
    transition: all 0.3s ease-in-out;
}

/* this gets rid of the outline when button is clicked*/
.greeting-btn:focus {
    outline: 0;
}

.greeting-btn:hover {
    z-index: 1;
    transform: scale(1.05, 1.05);
    cursor: auto;
}

.greeting-btn::after {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}


/*-----------------------------------------------------
    MODAL BOX/ PROGRESS REPORT/SUMMARY STYLES
-------------------------------------------------------*/
.progress-report {
    font-family: Quicksand, sans-serif;
    border: none;
}

.progress-title {
    text-align: center;
    font-size: 25px;
}

.modal-content {
    border: #e6e6e6;
    border-radius: 0;
}

.modal-header {
    border-bottom: none;
}
.close {
    color: red;
    font-weight: 100;
    font-size: 35px;
    transition: all 0.3s ease-in-out;
}
.close:focus {
    outline: none;
}
.close:hover {
    color: rgba(255, 189, 191, 1);
    transform: scale(1.15, 1.15);
}
.close::after {
    transition: all 0.3s ease-in-out;
}

.modal-title {
    
}

/*-----------------------------------------------------
    FOOTER STYLE
-------------------------------------------------------*/
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #333;
    color: #888;
    padding: 20px 3px 5px;
}

/*trying to center author credits*/
.row {
    display: table;
    margin: 0 auto;
}

/*display items in columns*/
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

/*get rid of list styles for social links*/
.social-links {
    list-style: none;
    font-size: 35px;    
}

/*display links list as an inline block and make sure they're side by side*/
.social-links li {
    display: inline-block;
    margin-right: 20px;    
}

.social-links li a {
    color: #888;
    transition: color 0.2s ease-in-out;
}

.social-links li a:hover {
    color: #545454;
}

/*get rid of title attribute in ion-icon so it won't show tool tip by mouse*/
ion-icon {
    pointer-events: none;
}

/*-----------------------------------------------------
    ADD TO DO STYLE
-------------------------------------------------------*/
.add-todo {
    margin-top: 70px;    
}

.addtodo-btn {
    background-color: whitesmoke;
    border: 2px solid #066693;
    width: 20%;
    padding: 5px 10px 1px;
    box-shadow: 3px 2px 5px rgba(0, 7, 10, 0.5);
    transition: all 0.2s ease-in-out;
}

.ion-plus {
    font-size: 40px;
    color: #04415d;
}

.addtodo-btn:focus{
    outline: none;
}

.addtodo-btn:hover {
    background-color: #d3f0fd;
}

.add-todo-input {
    background-color: whitesmoke;
    margin-right: 5px;
    padding: 5px;
    width: 300px;
    border: none;
}

.add-todo-input:focus {
    outline: none;
}

.add-todo-form-btn {
    background-color: #23b3f6;
    border: 1px solid #54c4f8;
    padding: 5px 7px;
    color: #242424;
    box-shadow: 1px 1px 5px rgba(0, 7, 10, 0.3);
    transition: all 0.2s ease-in-out;
}
.add-todo-form-btn:hover {
    background-color: #54c4f8;
}